.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(#000000, #000000, #00000000);
  position: sticky;
  top: 0;
  z-index: 100000;
  font-family: "Merriweather", serif;
  width: 100%;
  margin-left: -25px;
}

.navbar ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.left-side, .right-side {
  display: flex;
  justify-content: center;
}

li {
  margin: 0 2rem;
}

.top {
  color: rgb(255, 255, 255);
  font-size: 100px;
  text-transform: uppercase;
  background-color: #00000000;
  padding: 0.5rem;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.443);
}

a {
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 10px;
  background-color: #00000000;

}

a:hover {
  color: #ffffff;

}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 0.5rem;
  }

  .navbar ul {
    flex-direction: column;
    display: none;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar ul li {
    margin: 1rem 0;
  }

  a {
    font-size: 24px;
  }

  .top {
    font-size: 40px;
  }

  .hamburger {
    display: block;
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: 10px;
  }
}

/* Desktop View (hamburger hidden) */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
