/* Aurora effect for background */
.aurora-two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background: radial-gradient(circle, rgb(43, 0, 61) 0%, rgb(41, 42, 57) 60%, rgb(60, 74, 82) 100%);
    background-size: cover;
    z-index: -1;
    filter: blur(8px);
    opacity: 0.9;
  }
  

  

  